dbMount:
  persistent: false
networkId: {{ readFile "../nodeConfig/aeternity.yaml" | fromYaml | get "fork_management.network_id" }}
aeternityConfigOverride: {{ readFile "../nodeConfig/aeternity.yaml" | nindent 2 }}
accountsJsonOverride: >+
  {{ readFile "../nodeConfig/hc2_accounts.json" | nindent 2 | trim }}
contractsJsonOverride: >+
  {{ readFile "../nodeConfig/hc2_contracts.json" | nindent 2 | trim }}

